*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

h2{
    font-weight: 400;
}


button{
    background-color:burlywood;
    color:black;
    border: 1px solid black;
    border-radius: 50px;
    font-size:100%;
    padding:10px;
    margin-top: 21px;;
    cursor: pointer;

}
button:hover{
    background-color: rgb(228, 165, 142);
    color: black;
}
p{
    font-family: 'Merriweather', serif;
}
.logo{
    float: right;
   cursor: pointer;
    display: none;
}

header{
    padding: 10px;;
}

.center-1{
    font-weight: 100;
   
}
h1{
 
    font-family: 'Crimson Text', serif;
    font-size: 40px;;
    position: relative;

}
span{
    color:blue;
}

h1:before,
h1:after{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
h1::before{
    background-color:white;
    animation:
    typewriter 8s ease forwards;
}
@keyframes typewriter{
    to{
        left: 100%;
    }
}
h3{
    font-family: sans-serif;
}

h2{
    font-size: 2.5rem;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva,
     Verdana, sans-serif;
     font-weight: 400;


}
section{
    padding: 5.0rem;
    margin-top: 8.6rem;
}
.split{
    column-rule: 1px dotted black;
    column-gap:5em;
    column-count: 2;
    column-width: 260px;
  

}

.split,p{
    font-size:1.3rem;
    line-height:1.6;;
}
.bg-light{
    background-color: coral;
    border-top-right-radius: 125px;;
    border-bottom-left-radius: 125px;;
}
.bg-dark{
    background-color: darkgray;
    border-top-left-radius: 125px;;
    border-bottom-right-radius: 125px;;
}
.bg-primary{
    background: lightgreen;
    border-top-left-radius: 125px;;
    border-bottom-right-radius:125px ;
}

.center{
     margin-bottom: 50px;;
     font-family: cursive;
     font-size :1.8rem;
    text-align: center;
    
}

ul{
    float: right;
    margin-right: 10px;
 
}
 nav ul li{
    list-style:none;
    display:inline-block;
    padding:10px;
}
ul li a{

    padding-bottom: 20px;
    text-decoration: none;
    color:black;
    font-size:1.5rem;
}
a:link{
    font-family: 'Courier New', Courier, monospace;
    border:none;
    padding:10px;
    border-radius: 30px;;
}
a:hover{
    font-family: 'Courier New', Courier, monospace;
    background-color: coral;
    color:white;
    border:none;
    border-radius:30px;
    padding:10px;
    transition:0.5s ease all;
    height:2px;
    box-shadow: 5px 10px 8px #888888;;

}
footer{
    padding: 5.0rem;
    background-color: rgb(148, 148, 221);
    margin-top: 8.6rem;
    text-align: center;
    border-top-left-radius: 125px;;
   

}
.font,h4{
    font-family: 'Crimson Text', serif;
    font-size: 1.4rem;
    font-weight: 200;
}
.img{
    width:50px;
    height: 50px;;
    float: left;
    cursor: pointer;
}
@media (max-width:700px){
   ul{

    width: 100%;
       background-color: coral;
       border-top-right-radius: 50px;;
       border-bottom-left-radius: 50px;;
       top: 75px;
       position: absolute;
       right: 0;
       left: 0;
       z-index: 2;
   }
   ul li{
       display: block;
       margin-top:10px;
       margin-bottom: 10px;
   }
   ul li a{
       color: black;
   }
  
    .logo{
        display: block;
        width: 8%;
        margin-right:10px;
        
    }
    #menulist{
        
        overflow: hidden;
        transition: 0.5s ease all;
    }
    section{
        padding: 4.6rem;
    }
   

    .font,h4{
        font-size: 1.3rem;
    }
    .head,h2{
        font-size:1.9rem
    }
    .center-1{
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
        font-size: 2.3rem;
    }
    span{
        color:rgb(0, 0, 247);
    }
}













